body {
    background-image: url('/Users/SIMConsultant1/Desktop/BootCamp/unit-4-game/assets/images/ostereierglow11080p.jpg');
    
}

.heading {
    width: 40%;
    background: black;
    color: white;
    margin: 0 auto;
}

.main-body {
    
    padding: 10px 20px;
    background: black;
    color: white;
    font-size: 1.3em;
    font-family: 'Patrick Hand', cursive;
}

.score {
    width: auto;
    padding: 10px;
    box-sizing: border-box;
    background: black;
    display: block;
    margin: auto;
    color: white;
    font-size: 1.4em;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}


.crystal img{
    border-radius: 50%;
    margin: auto;    
    display: block;
}

#title {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    text-align: center;
    padding: 10px;
}

#game-stats {
    text-align: center;
    margin: auto;    
    display: block;
    padding: 10px;
    
}




